body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bodybackground.jpg');
    color: #333;
}

header {
    background-image: url('J59.gif');
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 0 55px;
    
    .profile-picture {
    width: 200px; 
    height: 200px; 
    border-radius: 10%; 
    margin-right: 10px;       

}

}

nav {
    background-color: #333;
    margin: 0 55px;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 45px;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav a:hover {
    color: #338A90;
}

section {
    margin: 100px;
    padding: 50px;
    background-color: #303030;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #338A90;
}

h2 {
    color: #ffffff;
}

p {
    font-size: 1.3em; 
    color: #338A90;
    text-align: center;
}

    .picture {
    width: 200px; 
    height: 200px; 
    border-radius: 20%; 
    margin-right: 100px; 






    
