/* Reset styles */
body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Open Sans', sans-serif; /* Updated font style */
    color: #333;
    background-image: url('bodybackground.jpg');
}

.container {
    margin: 0 55px;
    max-width: 1200px; /* Set a maximum width to prevent excessive stretching on large screens */
    margin-left: auto; /* Center align the container */
    margin-right: auto;
}

/* Header styles */
header {
    background-image: url('J59.gif');
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-right: 10px;
}

/* Navigation styles */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 45px;
    font-size: 1.2em;
    transition: color 0.3s, background-color 0.3s; /* Added background-color transition */
}

nav a:hover {
    color: #338A90;
    font-weight: bold; /* Highlighted link boldness */
    text-decoration: underline; /* Underline on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Background color change on hover */
}

/* Main content styles */
section {
    margin: 100px auto; /* Center align the section */
    padding: 50px;
    background-color: #303030;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Limit maximum width of the section */
}

h1 {
    color: #338A90;
}

h2 {
    color: #ffffff;
}

p {
    font-size: 1.3em;
    color: #338A90;
    text-align: left;
}

.picture {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    margin-right: 100px;
}
